@page "/Characters/{id:guid}"

@using BlazorApp1.Shared.Models.v1

<Row Flex=Flex.AlignItems.Center>
	<Column>
		<Heading Size=HeadingSize.Is1>@character?.Name</Heading>
	</Column>
	<Column ColumnSize=ColumnSize.Is1>
		<Button Color=Color.Primary Loading=@saving Clicked=Save>Save</Button>
	</Column>
</Row>

<DataGrid
	TItem=Feature
	Data=@character?.Features
	SelectedRows=@selected
	RowRemoving=OnRowRemoving
	SelectionMode=DataGridSelectionMode.Multiple
	CommandMode=DataGridCommandMode.ButtonRow
	ShowPager
	Responsive>
	<DataGridColumns>
		<DataGridMultiSelectColumn TItem=Feature Width=30px></DataGridMultiSelectColumn>
		<DataGridColumn TItem=Feature Field=@nameof(Feature.Name) Caption=Name Editable=true />
	</DataGridColumns>
	<ButtonRowTemplate>
		<Button Color=Color.Primary Clicked=@(() => showFeatureModal = true)>
			@context.NewCommand.LocalizationString
		</Button>
		<Button Color=Color.Secondary Clicked=context.DeleteCommand.Clicked>
			@context.DeleteCommand.LocalizationString
		</Button>
	</ButtonRowTemplate>
	<EmptyTemplate>No features...</EmptyTemplate>
	<LoadingTemplate><SpinKit Type=SpinKitType.Circle Centered /></LoadingTemplate>
</DataGrid>

<Modal Visible=showFeatureModal Closing=OnFeatureModalClosing>
	<ModalContent>
		<ModalHeader>
			<ModalTitle>Choose features</ModalTitle>
			<CloseButton />
		</ModalHeader>
		<ModalBody>
			<DataGrid
				TItem=Feature
				ReadData=OnReadFeatures
				Data=@features
				TotalItems=@featuresCount
				SelectionMode=DataGridSelectionMode.Multiple
				SelectedRows=@selectedFeatures
				ShowPager
				Responsive>
				<DataGridColumns>
					<DataGridMultiSelectColumn TItem=Feature Width=30px></DataGridMultiSelectColumn>
					<DataGridColumn TItem=Feature Field=@nameof(Feature.Name) Caption=Name />
				</DataGridColumns>
				<EmptyTemplate>...</EmptyTemplate>
				<LoadingTemplate><SpinKit Type=SpinKitType.Circle Centered /></LoadingTemplate>
			</DataGrid>
		</ModalBody>
		<ModalFooter>
			<Button Color=Color.Primary Clicked=OnAddFeatures>Add</Button>
		</ModalFooter>
	</ModalContent>
</Modal>
