@page "/"

@using System.Text.Json.Nodes

<PageTitle>Index</PageTitle>

<Heading Size=HeadingSize.Is1>Hello, world!</Heading>

Welcome to your new app.

<Card>
	<CardHeader>
		<Tooltip Text=Edit>
			<Button Outline Color=Color.Dark Clicked=@(() => modalVisible = true)><Icon Name=IconName.Edit /></Button>
		</Tooltip>
		<Tooltip Text=Remove>
			<Button Outline Color=Color.Dark Clicked=Remove
				Disabled=@(selected.Value is null)>
				<Icon Name=IconName.Archive />
			</Button>
		</Tooltip>
		<Tooltip Text=Clear>
			<Button Outline Color=Color.Dark Clicked=Clear
				Disabled=@(selected.Value is null)>
				<Icon Name=IconName.Clear />
			</Button>
		</Tooltip>
	</CardHeader>
	<CardBody>
		<TreeView Nodes=tree HasChildNodes=HasChildNodes GetChildNodes=GetChildNodes @bind-SelectedNode=selected>
			<NodeContent>
				@if (context.Value is JsonObject or JsonArray)
				{
					<Text>@context.Key</Text>
				}
				else if (!string.IsNullOrWhiteSpace(context.Key))
				{
					<Text>@context.Key: @context.Value.ToJsonString()</Text>
				}
				else
				{
					<Text>@context.Value.ToJsonString()</Text>
				}
			</NodeContent>
		</TreeView>
	</CardBody>
</Card>

<Modal @bind-Visible=modalVisible Opening=Opening>
	<ModalContent>
		<ModalHeader>
			<ModalTitle>Rules</ModalTitle>
			<CloseButton />
		</ModalHeader>
		<ModalBody>
			@if (this.selected.Value is JsonValue)
			{
				<TextEdit @bind-Text=selectedValue />
			}
			else
			{
				<ListGroup Mode=ListGroupMode.Selectable @bind-SelectedItem=selectedOperation>
					<ListGroupItem Name=lit TextAlignment=TextAlignment.Center>
						<Icon Name=@("fa-exclamation") />
						<Text>Literal data</Text>
					</ListGroupItem>
					<ListGroupItem Name=var TextAlignment=TextAlignment.Center>
						<Icon Name=@("fa-question") />
						<Text>Variable data access</Text>
					</ListGroupItem>
					<ListGroupItem Name=+ TextAlignment=TextAlignment.Center>
						<Icon Name=@("fa-plus") />
						<Text>Addition operation</Text>
					</ListGroupItem>
					<ListGroupItem Name=- TextAlignment=TextAlignment.Center>
						<Icon Name=@("fa-minus") />
						<Text>Subtraction operation</Text>
					</ListGroupItem>
					<ListGroupItem Name=* TextAlignment=TextAlignment.Center>
						<Icon Name=@("fa-times") />
						<Text>Multiplication operation</Text>
					</ListGroupItem>
					<ListGroupItem Name=/ TextAlignment=TextAlignment.Center>
						<Icon Name=@("fa-divide") />
						<Text>Division operation</Text>
					</ListGroupItem>
				</ListGroup>
			}
		</ModalBody>
		<ModalFooter>
			<Button Clicked=@(() => modalVisible = false)>Cancel</Button>
			<Button Clicked=Submit>Submit</Button>
		</ModalFooter>
	</ModalContent>
</Modal>
