@page "/Authorization/Authorize"

<Heading Size="HeadingSize.Is1">Authorization</Heading>

<Paragraph>
    Do you want to grant <Text>@ApplicationName</Text> access to your data? (scopes requested: @Scope)
</Paragraph>

<Button Color="Color.Primary">Yes</Button>
<Button Color="Color.Secondary">No</Button>
