@page "/Authorization/Verify"

<Heading Size="HeadingSize.Is1">Authorization</Heading>

@if (string.IsNullOrWhiteSpace(UserCode))
{
    <Paragraph>Enter the user code given by the client application:</Paragraph>

    <Field><TextEdit Placeholder="User code" /></Field>
    <Button Color="Color.Primary">Submit</Button>
}
else
{
    <Paragraph>
        Do you want to grant <Text>@ApplicationName</Text> access to your data? (scopes requested: @Scope)
    </Paragraph>
    <Paragraph>
        Make sure that the code displayed on the device is <Text>@UserCode</Text>.
        If the two codes don't match, press "No" to reject the authorization demand.
    </Paragraph>

    <Button Color="Color.Primary">Yes</Button>
    <Button Color="Color.Secondary">No</Button>
}
