@inherits LayoutComponentBase

<NavMenu />

<CascadingValue Value="this" Name="ErrorComponent">
  @Body
</CascadingValue>

@if (error is not null)
{
  <div class="notification is-danger">
    <button class="delete" @onclick="HideError"></button>
    <h3 class="title">@error.Title</h3>
    @error.Message
  </div>
}

