@page "/Features"

@using BlazorApp1.Shared.Models.v1

<DataGrid TItem=Feature
	Data=@data
	TotalItems=@count
	ReadData=@OnReadData
	PageSize=10
	ShowPager
	Filterable
	Editable
	EditMode=DataGridEditMode.Popup
	CommandMode=DataGridCommandMode.ButtonRow
	PopupSize=ModalSize.Large
	RowInserting=OnRowInserting
	RowUpdating=OnRowUpdating
	RowRemoving=OnRowRemoving
	Responsive>
	<DataGridColumns>
		<DataGridCommandColumn TItem=Feature></DataGridCommandColumn>
		<DataGridColumn TItem=Feature Field=@nameof(Feature.Name) Caption=Name Editable />
		<DataGridColumn TItem=Feature
			Field=@nameof(Feature.Effects)
			Caption=Effects
			Editable
			PopupFieldColumnSize=ColumnSize.IsFull>
			<DisplayTemplate>
				@string.Join(", ", context.Effects.Select((Effect effect) => effect.Name))
			</DisplayTemplate>
			<EditTemplate>
				<Effects Feature=context.Item />
			</EditTemplate>
		</DataGridColumn>
	</DataGridColumns>
	<ButtonRowTemplate>
		<Button Color=Color.Primary Clicked=context.NewCommand.Clicked>
			@context.NewCommand.LocalizationString
		</Button>
		<Button Color=Color.Secondary Clicked=context.EditCommand.Clicked>
			@context.EditCommand.LocalizationString
		</Button>
		<Button Color=Color.Danger Clicked=context.DeleteCommand.Clicked>
			@context.DeleteCommand.LocalizationString
		</Button>
	</ButtonRowTemplate>
	<EmptyTemplate>No records...</EmptyTemplate>
	<LoadingTemplate>
		<SpinKit Type=SpinKitType.Circle Centered />
	</LoadingTemplate>
</DataGrid>
